 @font-face {
   font-family: optimus;
   src: url('assets/optimus/Optimus.otf');
 }

 @font-face {
   font-family: zekton;
   src: url('assets/zekton/zekton rg.ttf');
 }

 @font-face {
   font-family: zekton;
   src: url('assets/zekton/zekton rg.ttf');
 }


body {
  text-align        : center;
  margin            : auto;
  width             : 50%;
  background-color  : #111010;
}

h1 {
  font-family       : optimus;
  font-size         : 50px;
  color             : #ff0000;
}

form {
  font-family       : optimus;
  font-size         : 24px;
  color             : #c85b01;
}

div.list-group.saved-names {
  font-family       : zekton;
  color             : #f6d600;
}

div.list-group.teams {
  font-family       : zekton;
  color             : #f6d600;
}

textarea {
  font-size         : 24px;
  color             : #f6d600;
  font-family       : zekton;
  background-color  : #111010;
}

fieldset {
  border : #111010 3px solid;
}

div.list-group {
  text-align : left;
}

h3 {
  text-align : left;
}

ol {
  width : 200px;
}
