 @font-face {
   font-family: Delicious;
   src: url('optimus/Optimus.otf');
 }

body {
  text-align        : center;
  margin            : auto;
  width             : 50%;
  font-family       : Delicious;
  font-size         : 30px;
  color             : #ff0000;
  background-color  : #2d2d2d;
}

div.list-group {
  text-align : left;
}
/*
fieldset.saved-names {
  height : 100px;
}

fieldset.extra-features {
  height : 50px;
}*/

h3 {
  text-align : left;
}

ol {
  width : 200px;
}
